version: '3'
services:
  jms:
    image: vromero/activemq-artemis
    deploy:
      replicas: 2
    ports: 
      - 8161:8161
      - 61616:61616
  zipkin:
    image: openzipkin/zipkin
    deploy:
      replicas: 2
    ports:
      - 9411:9411
  eureka:
    image: njt1980/eureka:latest
    deploy:
      replicas: 2
    ports:
      - 8761:8761
  inventoryservice:
    image: njt1980/inventoryservice:updated
    deploy:
      replicas: 2
    environment:
      - spring.datasource.url=jdbc:mysql://db-mysql-blr1-40693-inventory-do-user-9675934-0.b.db.ondigitalocean.com:25060/beerinventoryservice?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
      - spring.artemis.user=artemis
      - spring.artemis.password=simetraehcapa
      - eureka.client.service-url.defaultZone=http://eureka:8761/eureka/
      - spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect
      - SPRING_ARTEMIS_HOST=jms
      - SPRING_ZIPKIN_BASEURL=zipkin 
    depends_on:
      - jms
      - eureka
  beerservice:
    image: njt1980/beerservice:updated
    deploy:
      replicas: 2
    environment:
      - spring.datasource.url=jdbc:mysql://db-mysql-blr1-26393-beer-do-user-9675934-0.b.db.ondigitalocean.com:25060/beerservice?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
      - spring.datasource.username=beer_service
      - spring.datasource.password=password
      - spring.artemis.user=artemis
      - spring.artemis.password=simetraehcapa
      - eureka.client.service-url.defaultZone=http://eureka:8761/eureka/
      - spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect
      - SPRING_ARTEMIS_HOST=jms
      - SPRING_ZIPKIN_BASEURL=zipkin
    depends_on:
      - jms
      - eureka
  beerorderservice:
    image: njt1980/beerorderservice:updated
    deploy: 
      replicas: 2
    environment:
      - spring.datasource.url=jdbc:mysql://db-mysql-blr1-49661-beerorder-do-user-9675934-0.b.db.ondigitalocean.com:25060/beerorderservice?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
      - spring.artemis.user=artemis
      - spring.artemis.password=simetraehcapa
      - eureka.client.service-url.defaultZone=http://eureka:8761/eureka/
      - spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect
      - SPRING_ARTEMIS_HOST=jms
      - SPRING_ZIPKIN_BASEURL=zipkin
    depends_on:
      - jms
      - eureka
