version: '3'
services:
  mysqlcont:
    image: mysql
    volumes:
      - /home/john/DockerLearn/sql_data/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=password
  jms:
    image: vromero/activemq-artemis
    ports: 
      - 8161:8161
      - 61616:61616
  zipkin:
    image: openzipkin/zipkin
    ports:
      - 9411:9411
  eureka:
    image: eureka
    ports:
      - 8761:8761
  inventoryservice:
    image: inventoryservice
    environment:
      - spring.datasource.url=jdbc:mysql://mysqlcont:3306/beerinventoryservice?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
      - spring.artemis.user=artemis
      - spring.artemis.password=simetraehcapa
      - eureka.client.service-url.defaultZone=http://eureka:8761/eureka/
      - SPRING_ARTEMIS_HOST=jms
      - SPRING_ZIPKIN_BASEURL=zipkin 
    depends_on:
      - mysqlcont
      - jms
      - eureka
  beerservice:
    image: beerservice
    environment:
      - spring.datasource.url=jdbc:mysql://mysqlcont:3306/beerservice?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
      - spring.datasource.username=beer_service
      - spring.datasource.password=password
      - spring.artemis.user=artemis
      - spring.artemis.password=simetraehcapa
      - eureka.client.service-url.defaultZone=http://eureka:8761/eureka/
      - SPRING_ARTEMIS_HOST=jms
      - SPRING_ZIPKIN_BASEURL=zipkin
    depends_on:
      - mysqlcont
      - jms
      - eureka
  beerorderservice:
    image: beerorderservice
    environment:
      - spring.datasource.url=jdbc:mysql://mysqlcont:3306/beerorderservice?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
      - spring.artemis.user=artemis
      - spring.artemis.password=simetraehcapa
      - eureka.client.service-url.defaultZone=http://eureka:8761/eureka/
      - SPRING_ARTEMIS_HOST=jms
      - SPRING_ZIPKIN_BASEURL=zipkin
    depends_on:
      - mysqlcont
      - jms
      - eureka
